// faz com que as versões das libs instaladas com 'npm i' sejam fixas
// existem bots (ex: renovatebot) que podem ser usados para tentar atualizar as versões das libs,
// eles ficam subindo a versão (normalmente em 0.0.1) e executam os testes automatizados. 
//Caso todos os testem passem, o bot abre uma PR com a atualização da lib no repositório. 
//Caso falhe, ele avisa exatamente em qual teste falhou.
save-exact=true